
/*
 * default style sheet
 */

body {
  text-align: center;
  padding-top:20%;
  background-color: #000000;
  color: #FFFFFF;
}

h1 {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #FFFFFF;
  text-decoration: none;
}

